.cart {
    background-color:#8e8f5c;
    position: fixed;
    top: 0;
    height: 100%;
    width: 34rem;
    z-index: 1010;
    right: 0;
    float: right;
    display: none;
    font-size: 0.9em;
    padding: 15px;
}

.basket {
    cursor: pointer;
}

.border_image_cart {
  border-color:transparent;
  border-width: 5px;
  border-style: solid;
  border-radius: 30%;
}

.btn_verder_winkelen {
  margin-right: 2px;
}

/* .cart-container {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 30px;
}
.cart-container .cart-body {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 30px 0 20px;
  margin: 20px 0 30px;
} */

