/* ------------nav bar--------------- */
.scrolled {
    background-color: rgb(36 98 21 / 65%);
    transition: background 3s;
}

/* ----------backgroundImage----------------- */

body {
    background-image: url("/assets/images/womanEatsApple.jpg");
    background-color: rgb(36 98 21 / 65%);
    background-attachment: fixed;
    
   
    
}

/* ------------landing text-------------------- */
#landingtext {
    margin-top: 6em;
    margin-bottom: 10em;
    font-size: 3em;
    text-align: left;

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
} ----------------------items to sell------------------- */

.itemsFirstRow {
    margin-top: 54em;
    margin-bottom: 1em;
    
}


.itemsSecondRow {
    margin-top: 4em;
    margin-bottom: 1em;
}
/* footer */

.footer {
    background-color:rgb(36 98 21);
    height: 15em;
    padding-top: 2em;
   
    
}
.buttonVrijwilliger {
    margin-top: 1em;
    padding-left: 10em;
}

.quote {
    
    text-align: center;
    margin-top: 1em;
    

}


#allItems {
   
    margin-top: 30em;

}

#about-container {
    height: 44em;
    background-color:white;
    
}
#img-container{
    width: 100%;
    height: 40em;
    background: url(/assets/images/ED.jpg);
    background-color:white;
    background-attachment: fixed;
    background-size: cover;
   
}

.overlay{
position:absolute;
height: 40em;
width: 100%;
background: rgba(112, 152, 102, 0.8)
}

#form-container {
    height: 100em;
    background-color:white;
  
}
.img-thumbnail {
 max-height: 40em;
 margin-top: 3em;
}

.smallImage{
    width: 100px;
    margin: 40px auto -30px;
    display: block;
    position: relative;
    top: -30px;
  }

  .bi-basket {
     padding: 1em;
  }

  /* form......................... */

#form{
    max-width: 460px;
    margin: 200px;
    padding: 20px;
    background-color: #cbb09c;
}

.form_view{
    padding-top: 10em;
}
/* .........shopping_cart............. */

#shopping_cart{
    max-width: 460px;
    margin: 200px;
    padding: 20px;
    background-color: #cbb09c;
}
/* 
#shopping_cart_view {
    max-width: 460px;
    margin: 10px;
    padding: 20px;
    background-color: #cbb09c;
} */

.text_cart {
    max-width: 460px;
    margin: 10px;
    padding: 20px;
    background-color: #cbb09c; 
}

#home_text_products {
    margin: 5em;
    padding: 1em;
 
}

.layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    display: none;
    z-index: 1000;
}