@font-face { font-family: cardenio-modern; src: url('/assets/css/fonts/Cardenio\ Modern\ Std.ttf'); } 


body {
    background-image: url("/assets/images/website_images/woman_eats_apple.jpg");
    background-color: #a2b761;
    background-attachment: fixed;
    font-family: cardenio-modern ,Helvetica,Arial,sans-serif;
    color: #233411;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: cardenio-modern ,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1;
    margin: 20px 0;
  }

.btn {
    background-color: #a2b761;
}

p {
    font-family:Arial, Helvetica, sans-serif;
}

